@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

html,
#root,
.App,
.App-body,
body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  color: theme(colors.text);
}

.App {
  background-color: theme(colors.background)
}

.container {
  background-color: theme(colors.container-background);
}

.App-logo {
  height: 70px;
  pointer-events: none;
}

.App-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
}
